@page
@model ProtectedWeb.Pages.Sneaker.InfoModel
@using Utils;
@{
    string token = this.ViewContext.HttpContext.Request.Cookies["access_token"];
    bool isModer = UserMethods.HaveModerRights(token);
}
@{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex">
                    @if (@Model.Sneaker.Logo != null)
                    {
                        <img src="~/images/sneaker/@Model.Sneaker.Logo" class="img-fluid" alt="Sneaker Image">
                    }
                    else
                    {
                        <img src="~/images/sneaker/placeholder.jpg" class="img-fluid" alt="Sneaker Image">
                    }
                    <div>
                        <h2 class="mt-3">@Model.Sneaker.Manufacturer.Name @Model.Sneaker.Name</h2>
                        <p>@Model.Sneaker.Description</p>
                        <p>
                    
                            @if (Model.ProductRating != null)
                            {
                                <strong>Рейтинг: @Convert.ToDouble(Model.ProductRating).ToString("F2")</strong>
                            }
                            else
                            {
                                <strong>Рейтинг: -</strong>
                            }
                        </p>
                    </div>
                </div>

                <form method="post" id="commentForm" asp-anti-forgery="true" asp-page-handler="SaveComment">
                    <input value="@Model.Sneaker.Id" asp-for="SneakerId" type="hidden" required>
                    <div class="form-group">
                        <label for="Rating">Оценка:</label>
                        <select class="form-control" id="Rating" asp-for="Rating" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="CommentText">Текст комментария:</label>
                        <textarea class="form-control" id="CommentText" asp-for="Comment" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить комментарий</button>
                </form>

                <div class="mt-4">
                    <h4>Комментарии:</h4>
                    @foreach (var comment in Model.Sneaker.Reviews)
                    {
                        <div class="media mb-4">
                            <div class="media-body">
                                <div class ="d-flex">
                                    @if (@comment.User.Avatar != null)
                                    {
                                        <img src="~/images/User/@comment.User.Avatar" class="mr-3 rounded-circle img-fluid" alt="Аватар пользователя" style="max-height: 4em;">
                                    }
                                    else
                                    {
                                        <img src="~/images/User/placeholder.jpg" class="mr-3 rounded-circle img-fluid" alt="Аватар пользователя" style="max-height: 4em;">
                                    }
								    <div class="d-flex flex-column" style="margin-left: 0.5em;">
                                        <h5 class="mt-0">@comment.User.Name</h5>
                                        <small class="text-muted ml-2">@comment.CreatedAt.ToString("d MMMM yyyy")</small>
                                        <div class="rating ml-2">
                                            @string.Join("", Enumerable.Repeat("★", comment.Rating))@string.Join("", Enumerable.Repeat("☆", 5 - comment.Rating))
                                        </div>
                                    </div>
                                 </div>
                                <p>@comment.Comment</p>
                            </div>
                            @if (isModer)
                            {
                                <form method="post" id="commentForm" asp-anti-forgery="true" asp-page-handler="DeleteComment">
                                    <input value="@Model.Sneaker.Id" asp-for="SneakerId" type="hidden" required readonly>
                                    <input asp-for="CommentId" type="text" class="form-control" id="CommentId" value="@comment.Id" type="hidden" required readonly>
                                    <div class="col-md-2 d-flex align-items-end">
                                        <button type="submit" class="btn btn-danger col-md-12" id="deleteButton" name="action" value="delete">Удалить</button>
                                    </div>
                                </form>
                            }
                        </div>
                        <hr class="my-4">
                    }
                </div>
            </div>
        </div>
    </div>
}
